---
const currentYear = new Date().getFullYear();
---

<footer class="border-t py-6">
  <div class="container m-auto flex items-center justify-center px-4">
    <p class="text-sm text-muted-foreground">
      © {currentYear} Yeferson David Cano H. All rights reserved.
    </p>
  </div>
</footer>
