---
import { GitHubIcon, LinkedInIcon, MailIcon } from "./icons";
---

<section
  id="Hero"
  class="relative flex min-h-screen w-full items-center justify-center overflow-hidden"
>
  <div
    class="absolute -z-20 inset-0 bg-[linear-gradient(rgba(255,255,255,.05)_1px,transparent_1px),linear-gradient(90deg,rgba(255,255,255,.05)_1px,transparent_1px)] bg-[size:4rem_4rem] [mask-image:radial-gradient(ellipse_80%_80%_at_50%_50%,black,transparent)]"
  >
  </div>

  <div class="w-full max-w-4xl px-4 py-8">
    <div class="flex flex-col items-center justify-center text-center">
      <h1
        class="mb-4 text-4xl font-medium tracking-tight sm:text-6xl lg:text-8xl"
      >
        <span
          class="inline-block animate-gradient bg-gradient-to-r from-primary-foreground/60 via-primary to-primary-foreground/60 bg-[length:200%_auto] bg-clip-text pb-2.5 text-transparent"
        >
          Yeferson David Cano
        </span>
      </h1>

      <p class="mx-auto max-w-2xl text-lg leading-relaxed">
        Hola, soy desarrollador de software en Colombia y construyo aplicaciones
        web con diseño limpio, arquitectura escalable y experiencias totalmente
        responsivas.
      </p>

      <div
        class="mt-12 flex flex-col items-center justify-center gap-4 sm:flex-row"
      >
        <a href="/#projects">
          <button
            class="inline-flex items-center justify-center gap-2 whitespace-nowrap text-sm font-medium ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 bg-primary text-primary-foreground hover:bg-primary/90 h-11 rounded-md px-8 w-full transition-all hover:scale-105 hover:shadow-lg"
            aria-label="View Portfolio"
          >
            Ver proyectos
          </button>
        </a>

        <a href="/#contact">
          <button
            class="inline-flex items-center justify-center gap-2 whitespace-nowrap text-sm font-medium ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-11 rounded-md px-8 w-full transition-all hover:scale-105 hover:shadow-lg"
            aria-label="Contact Me"
          >
            Contáctame
          </button>
        </a>
      </div>

      <div class="mt-16 flex items-center justify-center gap-6">
        <div tabindex="0">
          <a
            rel="noopener noreferrer"
            target="_blank"
            aria-label="GitHub"
            class="block text-muted-foreground hover:text-primary transition-colors hover:animate-tada"
            href="https://github.com/YefersonCano-art"
          >
            <div style="transform: none;">
              <GitHubIcon />
            </div>
          </a>
        </div>
        <div tabindex="0">
          <a
            rel="noopener noreferrer"
            target="_blank"
            aria-label="LinkedIn"
            class="block text-muted-foreground hover:text-primary transition-colors hover:animate-tada"
            href="https://www.linkedin.com/in/jefferson-david-cano-hernandez/"
          >
            <div style="transform: none;">
              <LinkedInIcon />
            </div>
          </a>
        </div>
        <div tabindex="0">
          <a
            rel="noopener noreferrer"
            target="_blank"
            aria-label="Email"
            class="block text-muted-foreground hover:text-primary transition-colors hover:animate-tada"
            href="mailto:canocs3@live.com"
          >
            <div style="transform: none;">
              <MailIcon />
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
