---
import Header from "../components/Header.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>

<style is:global>
  html {
    font-family: lato, sans-serif;
  }

  /* Color scheme se adapta automáticamente según la clase .dark */
  html {
    color-scheme: light;
  }

  html.dark {
    color-scheme: dark;
  }

  body {
    /* background-color: var(--color-background); */
  }
</style>
